<div class="container">
  <h5 class="text-center m-3">諸注意</h5>
  <div class="row justify-content-center">
    <div class="col-sm-12 mb-3">
      <i class="fas fa-exclamation-triangle"></i><strong>予約について</strong><br>
      ・当サイトは食品ロスの削減や、ピークタイムとアイドルタイムの差の改善などを目的としているため、予約は当日のみに限定しています。<br>
      ・投稿することによって、会員の方が予約リクエストを送信できるようになり、送られてきたリクエストを承認することで予約が完了します。<br>
      ・当サイトでは、予約できる最大人数を10人までに設定しています。10人以下をご希望の際は、下記のマイページについてをご参照ください。
    </div>
    <div class="col-sm-12 mb-3">
      <i class="fas fa-triangle-exclamation"></i><strong>マイページについて</strong><br>
      ・マイページに記載した内容は、会員の方が閲覧できるようになっています。<br>
      ・編集する際に、予約するお客様への注意事項等を記述してください。(例…ラストオーダーや予約最大人数など)<br>
      ・Webサイトの欄には、お店のホームページのリンク等をはることができます。<br>
    </div>
    <div class="col-sm-12 mb-3">
      <i class="fas fa-triangle-exclamation"></i><strong>通知一覧について</strong><br>
      ・会員の方から予約リクエストが送られてくると、通知一覧に表示されます。<br>
      ・「確認する」ボタンをクリックすると、予約詳細画面が表示され、承認する(もしくは拒否する)ことができます。<br>
    </div>
    <div class="col-sm-12 mb-3">
      <i class="fas fa-triangle-exclamation"></i><strong>予約一覧について</strong><br>
      ・予約一覧は、予約を受けた日時の降順で並んでいます。<br>
      ・ステータスは、「未承認」「承認済」「不可」「来店済」の4種類あります。「未承認」の場合は、早めにご対応いただくことを推奨します。<br>
      ・「詳細」をクリックすることで、予約詳細画面が表示されます。<br>
      ・予約した会員の方が来店されたら、予約詳細画面の「来店済」ボタンをクリックすることで、ステータスを「来店済」にすることが可能です。
    </div>
    <div class="col-sm-12 mb-3">
      <i class="fas fa-triangle-exclamation"></i><strong>投稿機能について</strong><br>
      ・会員の方に伝えたい情報や写真、お店のホームページや位置情報のリンクなどをはって投稿することが可能です。<br>
      ・予約ステータスは、予約が可能であれば「予約受付中」に、受付不可能であれば「予約不可」にチェックを入れて投稿してください。<br>
      ・「投稿内容」と予約ステータスは必須項目になります。<br>
      ・投稿は編集することが可能ですが、途中で予約ステータスを「予約受付中」から「予約不可」にする際は、投稿したものを全て削除してから、新たに「予約不可」で投稿することを推奨します。<br>
      ・投稿一覧ページの「全投稿を削除する」ボタンをクリックすることで、全ての投稿を削除することが可能です。<br>
      ・投稿してから1日経過した投稿は、定期的に削除されますのでご了承ください。
    </div>
  </div>
</div>