<div class="container">
  <h5 class="m-3">マイページ</h5>
  <div class="row justify-content-center m-3">
    <%#写真があれば表示%>
    <% if @restaurant.image.attached? %>
      <div class="col-sm-4 mt-3">
        <%= image_tag @restaurant.image, size: "320x320", class:"img-fluid" %>
      </div>
    <% end %>
    <table class="table col-sm-7">
      <%#飲食店詳細%>
      <%= render 'show', restaurant: @restaurant %>
    </table>
  </div>
  <div class="row justify-content-center">
    <%= link_to "編集する", edit_restaurant_registration_path, class:"btn btn-success mb-3" %>
  </div>
</div>