<div class="about">
  <div class="container">
    <h3 class="text-light">About</h3>
    <div class="row justify-content-center">
      <strong class="text-light">
        <center>
        このサイトは、SNS風の飲食店専用の予約サイトです。<br>
        食品ロスの削減や、ピークタイムとアイドルタイムの差の改善、<br>
        待ち時間の短縮などを目的としているため、当日限定にしています。<br>
        投稿機能は飲食店のみ可能で,会員の方は投稿を閲覧することが可能です。<br>
        また、掲載された投稿は午前0時に全て削除されますのでご了承ください。
        </center>
      </strong>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="blackboard1">
          <%#予約の仕方%>
        </div>
      </div>
      <div class="col-md-5">
        <div class="blackboard2">
          <%#機能の説明%>
        </div>
      </div>
    </div>
  </div>
</div>