<div class="about">
  <div class="container">
    <h3 class="text-light">About</h3>
    <div class="row justify-content-center">
      <strong class="text-light">
        このサイトは、SNS風の飲食店専用の予約サイトです。<br>
        食品ロスの削減や、ピークタイムとアイドルタイムの差の改善、<br>
        待ち時間の短縮などを目的としているため、当日限定にしています。<br>
        投稿は飲食店のみ可能です。
      </strong>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="bord1">
          <%#予約の仕方%>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="bord2">
          <%#機能の説明%>
        </div>
      </div>
    </div>
  </div>
</div>