<div class="main-container">
  <div class="row1">
  </div>
  <div class="row justify-content-center">
    <span><%= link_to "ログイン", new_customer_session_path, class: "btn btn-md btn-dark mr-5" %></span>
    <span><%= link_to "新規登録", new_customer_registration_path, class:"btn btn-md btn-dark ml-5" %></span>
  </div>
</div>