<div class="container">
  <h5 class="mt-3">飲食店一覧</h5>
  <%#折り畳み検索フォーム%>
  <%= render 'search', q: @q %>

  <div class="row justify-content-center">
    <%#飲食店一覧%>
    <%= render 'index', restaurants: @restaurants %>
  </div>
  <%#ページネーション%>
  <div class="row justify-content-center">
    <%= paginate @restaurants, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
