<div class="container">
  <h5 class="m-3">飲食店詳細</h5>
  <div class="row justify-content-center">
    <div class="col-sm-4 mb-3">
      <% if @restaurant.image.attached? %>
        <%= image_tag @restaurant.image, size: "320x320" %>
      <% end %>
    </div>
    <table class="table col-sm-10">
      <%= render 'restaurant/homes/show', restaurant: @restaurant %>
    </table>
  </div>
  <h5 class="m-3"><%= @restaurant.name %>の投稿一覧</h5>
  <div class="row justify-content-center">
    <%#選択した飲食店の投稿一覧%>
    <div class="post-index">
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>