<% notifications.each do |notification| %>
<%# visitor = notification.visitor %>
<%# visited = notification.visited %>
<% visitor = notification.visitor.name %>
  <div class="row justify-content-center">
    <%#承認ステータスが未承認の場合表示%>
    <% if notification.reservation.approval_status == "unapproved" %>
      <span class="col-sm-5 my-2">
        <% case notification.action %>
        <% when 'reservation' then %>
          <%= visitor %><%#予約リクエストを送信した会員名%>
          様から予約リクエストを受信しました
        <% end %>
      </span>
      <%#= notification_form(notification) %>
      <span class="col-sm-2 my-2"><%= time_ago_in_words(notification.created_at) + "前" %></span>
      <span class="col-sm-2 my-2"><%= link_to "確認する", restaurant_reserve_detail_path(notification.reservation), class:"btn btn-primary" %></span>
    <% end %>
  </div>
<% end %>