<div class="container">
  <h5 class="m-3">通知一覧</h5>
  <div class="row justify-content-center">
    <% if @notifications.exists? %>
      <%= render 'notifications', notifications: @notifications %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <%= paginate @notifications, theme: 'twitter-bootstrap-4' %>
  </div>
</div>