<li class="nav-item mr-2 my-1">
  <%= link_to "ログイン", new_customer_session_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to "About", about_path, class:"btn btn-sm btn-dark" %>
</li>
<li class="nav-item mr-2 my-1">
  <%= link_to "ゲストログイン（閲覧用）", customer_guest_sign_in_path, method: :post, class:"btn btn-sm btn-dark" %>
</li>
<%#後で消す%>
<li>
  <%= link_to "飲食店ログイン", new_restaurant_session_path %>
</li>
